/node_modules
/public/hot
/public/storage
/public/posts
/public/js
/public/fonts
/public/css
/storage/*.key
/vendor
/.idea
/.vagrant
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
